.site-header {
  margin: 0;
  padding: 1vw 5%;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(189, 230, 189);
  height: 8vw;
}

.site-header__link {
  display: inline-block;
  width: 30%;
  height: 8vw;
  line-height: 8vw;
  vertical-align: middle;
  text-decoration: none;
  color: cornsilk;
  background-color: green;
  border: 2px solid green;
  border-radius: 48px;
  text-align: center;
  font-size: 5vw;
  font-weight: normal;
}

