.navbar {
  margin: 0;
  padding: 1vw 5%;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgb(189, 230, 189);
  height: 8vw;
}

.navbar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: green;
  border: 2px solid green;
  border-radius: 48px;
}

.navbar__link {
  text-decoration: none;
  color: cornsilk;
  font-size: 5vw;
  width: 100%;
  text-align: center;
}